{% if section.settings.checkbox_announcement_bar_id %}
  <div style="background-color:{{ section.settings.background_announcement_id }}" class="w-full h-fit flex justify-center items-center">
    <div style="color:{{ section.settings.text_announcement_id }}" class="text-sm text-center min-w-[300px] p-2 md:max-w-[620px] {{ section.settings.announcement_text_size_id }} ">
        {{ section.settings.richtext_annoucement_id }}
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "class": "announcement-bar-section",
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Show Or Hide Your Annoucement",
      "info": "You can show and hide your annoucement bar by toggling the button 'Toggle Announcement'"
    },
    {
      "type": "checkbox",
      "id": "checkbox_announcement_bar_id",
      "label": "Toggle Annoucement",
      "default": true
    },
    {
      "type": "header",
      "content": "Announcement Message",
      "info": "Your can enter your announcement message here, and modify it as you see fit with our richtext editor"
    },
    {
      "type": "inline_richtext",
      "id": "richtext_annoucement_id",
      "default": "my<i>Announcement Message Go here</i>",
      "label": "Enter Your Announcement Here 2"
    },
    {
      "type": "header",
      "content": "Background Color"
    },
    {
      "type": "color",
      "id": "background_announcement_id",
      "label": "Choose Your Annoucement Background Color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Text Color"
    },
    {
      "type": "color",
      "id": "text_announcement_id",
      "label": "Choose Your Annoucement Text Color",
      "default": "#FFFFFF"
    },
    {
      "type": "header",
      "content": "Announcement Text Size"
    },
    {
      "type": "select",
      "id": "announcement_text_size_id",
      "label": "Anouncement Text Size For Desktop",
      "options": [
        {
          "value": "md:text-sm",
          "label": "14px"
        },
        {
          "value": "md:text-base",
          "label": "16px"
        }
      ],
      "default": "md:text-base"
    }
   
  ],
  "presets": [
    {
      "name": "t:sections.announcement-bar.presets.name"
    }
  ]
}
{% endschema %}
