<div>
    Favourites product
</div>

{% schema %}
{
    "name": "Favourites Product",
    "settings": [
        
    ],
    "presets": [
        {
            "name": "Favourites Product",
            "settings": {}
        }
    ]
}
{% endschema %}