<footer class="w-full h-fit bg-red-100">
  <div class="container mx-auto h-screen bg-gray-100">
      {% comment %} footer upper {% endcomment %}
      <div class="block">
        <div class="w-full h-fit bg-green-100 py-4 flex justify-center items-center flex-col gap-12 mb-3">
          <h4 class="text-xl font-medium text-black">Join our global community</h4>
          <p class="text-sm font-normal text-gray-400 text-center mx-4">
            Keep up-to-date with our latest product launches, epic stunts and special offers.
          </p>
          <div class="w-[258px] h-[78px] bg-yellow-300 border flex justify-center items-center">
            <input class="w-[150px] py-2 px-2 rounded-l-lg" placeholder="Email" type="email" name="email">
            <button class="w-[100px] bg-blue-500 text-white py-2 rounded-r-lg ">Sign Up</button>
          </div>
        </div>
        <div>
          <h4>About Us</h4>
          <a href="#">Our Story</a>
          <a href="#">Our Blog</a>
          <a href="#">AirShock</a>
          <a href="#">AirFoam</a>
          <a href="#">Mous + <br> Magnets</a>
        </div>
        <div>
          <h4>Need Help?</h4>
          <a href="#">Contact and FAQs</a>
          <a href="#">Shipping and Returns</a>
          <a href="#">Reviews</a>
          <a href="#">Warranty</a>
        </div>
        <div>
          <h4>Extras</h4>
          <a href="#">E-Gift Cards</a>
          <a href="#">Product Tutorials</a>
          <a href="#">Refer a friend</a>
          <a href="#">Student Discount</a>
          <a href="#">Sitemap</a>
        </div>
        <div>
          <h4>Iphone cases</h4>
          <a href="#">MagSafe® Compatible</a>
          <a href="#">iPhone 15 Cases</a>
          <a href="#">iPhone 14 Cases</a>
          <a href="#">iPhone 13 Cases</a>
        </div>
      </div>
      <hr>
      {% comment %} footer bottom {% endcomment %}
      <div>

      </div>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "settings": [
    
  ]
}
{% endschema %}
