<section class="max-w-full h-[570px] lg:h-[700px] overflow-x-auto flex justify-end items-center">
    <div class="h-[556px] flex flex-nowrap w-[90%] mx-auto sm:w-[570px]  md:w-[700px] lg:w-[990px] lg:h-[680px] xl:w-[1200px] 2xl:w-[1480px]">       
        <div class="h-[556px] w-[206px] md:w-[233px] lg:w-[330px] xl:w-[390px] border  2xl:w-[490px] lg:h-[680px]  rounded-2xl flex justify-around items-center flex-col mr-5">
            <div class="w-[206px] h-[278px] block md:w-full lg:h-[400px]">
                <img class="block w-full h-full object-cover object-center" src="{{ "collection-2.svg" |  asset_url }}" alt="">
            </div>
            <div class="w-[206px] h-[278px] p-2 flex justify-center items-center flex-col md:w-full lg:h-[280px] lg:justify-end border border-b-0 border-l-0 border-r-0">
                <h3 class="text-xl font-semibold text-center text-black my-1">
                    Made for Apple
                </h3>
                <p class="text-base font-normal text-center text-black mb-1 px-1">
                    Our most advanced wireless charging ecosystem yet, combining our own magnetic expertise with official Apple technology.
                </p>
                <button class="bg-blue-800 text-white border py-2 px-4 rounded-lg mb-1">
                    <a href="#">
                        Enhance Your Phone
                    </a>
                </button>
            </div>
        </div>
        <div class="h-[556px] w-[206px] md:w-[233px] lg:w-[330px] xl:w-[390px] border  2xl:w-[490px] lg:h-[680px]  rounded-2xl flex justify-around items-center flex-col mr-5">
            <div class="w-[206px] h-[278px] block md:w-full lg:h-[400px]">
                <img class="block w-full h-full object-cover object-center" src="{{ "collection-2.svg" |  asset_url }}" alt="">
            </div>
            <div class="w-[206px] h-[278px] p-2 flex justify-center items-center flex-col md:w-full lg:h-[280px] lg:justify-end border border-b-0 border-l-0 border-r-0">
                <h3 class="text-xl font-semibold text-center text-black my-1">
                    Made for Apple
                </h3>
                <p class="text-base font-normal text-center text-black mb-1 px-1">
                    Our most advanced wireless charging ecosystem yet, combining our own magnetic expertise with official Apple technology.
                </p>
                <button class="bg-blue-800 text-white border py-2 px-4 rounded-lg mb-1">
                    <a href="#">
                        Enhance Your Phone
                    </a>
                </button>
            </div>
        </div>
        <div class="h-[556px] w-[206px] md:w-[233px] lg:w-[330px] xl:w-[390px] border  2xl:w-[490px] lg:h-[680px]  rounded-2xl flex justify-around items-center flex-col mr-5">
            <div class="w-[206px] h-[278px] block md:w-full lg:h-[400px]">
                <img class="block w-full h-full object-cover object-center" src="{{ "collection-2.svg" |  asset_url }}" alt="">
            </div>
            <div class="w-[206px] h-[278px] p-2 flex justify-center items-center flex-col md:w-full lg:h-[280px] lg:justify-end border border-b-0 border-l-0 border-r-0">
                <h3 class="text-xl font-semibold text-center text-black my-1">
                    Made for Apple
                </h3>
                <p class="text-base font-normal text-center text-black mb-1 px-1">
                    Our most advanced wireless charging ecosystem yet, combining our own magnetic expertise with official Apple technology.
                </p>
                <button class="bg-blue-800 text-white border py-2 px-4 rounded-lg mb-1">
                    <a href="#">
                        Enhance Your Phone
                    </a>
                </button>
            </div>
        </div>
        
       
    </div>
</section>


{% schema %}
{
    "name": "Three Collums",
    "settings": [
        
    ],
    "presets": [
        {
            "name": "Three Collums"
        }
    ]
}
{% endschema %}
